@import 'tailwindcss';
@plugin '@tailwindcss/forms';

input[type='color'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

.tippy-box {
  @apply rounded-md p-1;
}

.profile-picture-lg {
  @apply aspect-square h-30 w-30 rounded-full;
}

.profile-picture-md {
  @apply aspect-square h-20 w-20 rounded-full;
}

.profile-picture-sm {
  @apply aspect-square h-10 w-10 rounded-full;
}

.scrollbar::-webkit-scrollbar {
  @apply h-3;
}

.scrollbar::-webkit-scrollbar-track {
  @apply rounded-md bg-gray-800;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-md bg-gray-500;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.empty-noti-text {
  @apply w-full p-4 text-center text-2xl font-semibold;
}

@utility btn {
  @apply cursor-pointer rounded-md px-4 py-2 text-base text-white transition-all duration-100 ease-in-out disabled:cursor-not-allowed disabled:opacity-50;
}

@utility outlined {
  @apply bg-transparent outline hover:text-white;
}

.btn-dark {
  @apply btn bg-gray-700 hover:bg-gray-600 active:bg-gray-500;
}

.btn-primary {
  @apply btn bg-sky-500 hover:bg-sky-600 active:bg-sky-700;
}

.btn-danger {
  @apply btn bg-red-500 hover:bg-red-600 active:bg-red-700;
}

.btn-success {
  @apply btn bg-green-700 hover:bg-green-800 active:bg-green-900;
}

.btn-dark-outline {
  @apply btn outlined text-gray-700 outline-gray-700 hover:bg-gray-700 active:bg-gray-500 active:outline-gray-500;
}

.btn-primary-outline {
  @apply btn outlined text-sky-500 outline-sky-500 hover:bg-sky-500 active:bg-sky-700 active:outline-sky-700;
}

.btn-danger-outline {
  @apply btn outlined text-red-500 outline-red-500 hover:bg-red-500 active:bg-red-700 active:outline-red-700;
}

.btn-success-outline {
  @apply btn outlined text-green-700 outline-green-700 hover:bg-green-700 active:bg-green-900 active:outline-green-900;
}
