@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

* {
  --header-height: 56px;
}

input[type='color'],
input[type='checkbox'],
input[type='radio'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: none;
  box-shadow: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

@utility tippy-box {
  @apply rounded-md p-1;
}

@utility profile-picture-lg {
  @apply aspect-square h-30 w-30 rounded-full object-contain;
}

@utility profile-picture-md {
  @apply aspect-square h-20 w-20 rounded-full object-contain;
}

@utility profile-picture-sm {
  @apply aspect-square h-10 w-10 rounded-full object-contain;
}

@utility scrollbar {
  &::-webkit-scrollbar {
    @apply h-3;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-md bg-zinc-800;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-md bg-zinc-500;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-300;
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    @apply hidden;
  }
}

@utility box-shadow {
  @apply shadow-md shadow-zinc-700/40 dark:shadow-zinc-950;
}

@utility box {
  @apply rounded-lg bg-zinc-50 p-4 box-shadow dark:border dark:border-zinc-700 dark:bg-zinc-900;
}

@utility empty-noti-text {
  @apply w-full p-4 text-center text-2xl font-semibold;
}

@utility btn {
  @apply cursor-pointer rounded-md px-4 py-2 text-base text-white transition-all duration-100 ease-in-out disabled:cursor-not-allowed disabled:opacity-50;
}

@utility outlined {
  @apply bg-transparent outline hover:text-white;
}

.btn-dark {
  @apply btn bg-zinc-700 hover:bg-zinc-600 active:bg-zinc-500;
}

.btn-primary {
  @apply btn bg-sky-500 hover:bg-sky-600 active:bg-sky-700;
}

.btn-danger {
  @apply btn bg-red-500 hover:bg-red-600 active:bg-red-700;
}

.btn-success {
  @apply btn bg-green-700 hover:bg-green-800 active:bg-green-900;
}

.btn-dark-outline {
  @apply btn outlined text-gray-400 outline-gray-700 hover:bg-zinc-700 active:bg-zinc-500 active:outline-gray-500;
}

.btn-primary-outline {
  @apply btn outlined text-sky-500 outline-sky-500 hover:bg-sky-500 active:bg-sky-700 active:outline-sky-700;
}

.btn-danger-outline {
  @apply btn outlined text-red-500 outline-red-500 hover:bg-red-500 active:bg-red-700 active:outline-red-700;
}

.btn-success-outline {
  @apply btn outlined text-green-700 outline-green-700 hover:bg-green-700 active:bg-green-900 active:outline-green-900;
}
