@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

* {
  --header-height: 56px;
}

input[type='color'],
input[type='checkbox'],
input[type='radio'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: none;
  box-shadow: none;
}

input[type='color'] {
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: 0;
    border-radius: 0;
  }
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

@theme {
  --color-zinc-150: oklch(93.5% 0.0025 286.35);
  --color-zinc-750: oklch(32.4% 0.009 285.933);
}

@utility profile-picture-lg {
  @apply aspect-square h-30 w-30 rounded-full object-contain;
}

@utility profile-picture-md {
  @apply aspect-square h-20 w-20 rounded-full object-contain;
}

@utility profile-picture-sm {
  @apply aspect-square h-10 w-10 rounded-full object-contain;
}

@utility profile-picture-xs {
  @apply aspect-square h-5 w-5 rounded-full object-contain;
}

@utility scrollbar {
  &::-webkit-scrollbar {
    @apply h-3 w-1;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-md bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-md bg-zinc-500;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-300;
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    @apply hidden;
  }
}

@utility box-shadow {
  @apply shadow-sm shadow-zinc-600/40 transition-shadow duration-150 ease-in hover:shadow-md dark:shadow-zinc-950;
}

@utility box {
  @apply rounded-lg bg-zinc-100 p-4 box-shadow dark:border dark:border-zinc-700 dark:bg-zinc-900;
}

@utility box-hover {
  @apply not-dark:hover:bg-white dark:hover:border-t-zinc-500 dark:hover:bg-linear-0 dark:hover:from-zinc-800/80 dark:hover:from-95% dark:hover:to-zinc-750;
}

@utility notice-text {
  @apply w-full p-4 text-center text-2xl font-semibold;
}

@utility btn {
  @apply cursor-pointer rounded-md p-2 text-base text-zinc-900 transition-all duration-100 ease-in-out hover:bg-zinc-100 active:bg-zinc-200 disabled:cursor-not-allowed disabled:opacity-50 dark:text-zinc-100 dark:hover:bg-zinc-800 dark:active:bg-zinc-700;
}

.btn-base {
  @apply btn bg-zinc-900 text-zinc-200 hover:bg-zinc-800 not-dark:hover:text-zinc-100 active:bg-zinc-700 dark:bg-zinc-100 dark:text-zinc-800 dark:hover:bg-zinc-200 dark:active:bg-zinc-300;
}

.btn-primary {
  @apply btn bg-blue-600 text-zinc-50 hover:bg-blue-500 active:bg-blue-600;
}

.btn-danger {
  @apply btn bg-red-600 text-zinc-50 hover:bg-red-500 active:bg-red-600;
}

.btn-success {
  @apply btn bg-emerald-700 text-zinc-50 hover:bg-emerald-600 active:bg-emerald-700;
}

.btn-base-outline {
  @apply btn text-zinc-800 outline-zinc-700 hover:bg-zinc-600 hover:text-white dark:text-zinc-400 dark:hover:bg-zinc-800;
}

.btn-primary-outline {
  @apply btn bg-transparent text-blue-600 outline outline-blue-600;
}

.btn-danger-outline {
  @apply btn bg-transparent text-red-600 outline outline-red-600;
}

.btn-success-outline {
  @apply btn bg-transparent text-emerald-700 outline outline-emerald-700;
}
